.figures {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.figures > .figure {
    box-sizing: border-box;
    flex-grow: 1;
    padding: 0.5em;
}

.figures > .figure img {
    width: 100%;
    display: block;
}

.figures > .figure p {
    display: block;
    text-align: center;
    font-family: sans-serif;
}
img {
    font-family: sans-serif;
}

@media (max-aspect-ratio : 1/1) {
/*stuff in here activates below a 1/1 aspect ratio (page is taller than it is wide-X.P)*/
}